*{
    margin:0px;
}
.header{
    display: flex;
    justify-content:space-between;
    align-items: center;
    z-index: 100;
    border-bottom: 1px solid rgb(255, 73, 100);
}
.header_logo{
    object-fit:contain;
    height: 60px;
    /* padding:10px; */
}
.header_icon{
    padding:5px;
}